[2012-10-02 19:37] ivolo opened #1 "Set timeout on HTTP request"

[2012-10-02 19:48] ivolo opened #2 "Add time-based flush test"
1. Perform action
2. Wait larger than time triggered flush
3. Perform another action
4. Check that the flush and successful matches 2

[2012-10-03 23:40] ivolo opened #3 "Remove dependency on JSON.NET"
Get JavascriptSerializer to work

[2012-10-03 23:40] ivolo opened #4 "Create NuGet package"

[2012-10-04 00:02] ivolo opened #5 "Start flush on another thread"

[2012-10-10 07:42] #5 closed, assigned to ivolo

[2012-10-10 07:45] #1 closed, assigned to ivolo

[2013-01-17 02:44] #4 closed, assigned to ivolo

[2013-01-17 02:45] #3 closed, assigned to ivolo

[2013-03-01 20:54] janmechtel opened #6 "Where is the Segmentio.Analytics.Client.Alias?"
Alias
alias combines two previously unassociated user identities. This comes in handy if the same user visits from two different devices and you want to combine their history.

Source https://segment.io/libraries/analytics.js/

Can we have this in .net too please!

[2013-03-01 23:12] janmechtel opened #7 "Does the .net library support Providers in the Context"
I really like to control which providers the events are sent to, I found this in the docs:(https://segment.io/docs/methods/identify)

But it seems the Model.context in the .net library only SetIP / SetLanguage. Any workaround?

[2013-03-04 14:36] #6 closed, assigned to nobody

[2013-03-14 23:00] ivolo opened #8 "Add blocking flush"
Analytics.Client.Flush(Async=false)

[2013-03-23 00:30] #7 closed, assigned to nobody

[2013-07-19 00:53] mdmoura opened #9 "Using Analytics.NET in ASP.NET MVC"
Hello,

Is it possible to use Analytics.NET with ASP.NET MVC as an ActionFilter?

Thank You,
Miguel

[2013-08-27 17:28] hatton opened #10 "Context properties are not being transmitted"
Using the 19 August head (9912dc4973e80d1298427e010f50f6e848183e72). (But this didn't work with the 1.1. version released on nuget either.)

Given:
`Segmentio.Analytics.Client.Identify("100", new Traits()
{
 {"firstName", "Vincent"},
 {"lastName", "Vangogh"},
 {"email", "vincent@vangogh.com"}
 }, new Context().SetIp("71.198.218.39"));`

Then in BlockingRequestHandler.cs, line 30:

[code]

json lac

[2013-08-29 20:20] #10 closed, assigned to nobody

[2013-09-13 22:26] #2 closed, assigned to ivolo

[2013-10-28 19:57] calvinfo opened #12 "add convenience method for context.traits?"
a customer was asking about it earlier, would make the interface for adding traits a bit nicer.

would solve this kind of thing:

[code]

[2013-11-20 10:53] ivolo opened #14 "Evaluate jsonFx for unity support"
http://forum.unity3d.com/threads/50998-Newtonsoft-JSON-NET-Converter-fails-in-Unity
https://github.com/jsonfx/jsonfx

[2013-12-29 23:17] reinpk opened #15 "add requestId's to each action flushed"
the spec developed and deployed with the iOS SDK: https://gist.github.com/reinpk/7bd33d29694578b06cce (ignore the requestTimestamp on batch flushing since we don't want to correct timestamps coming from a server)

[2014-02-13 11:25] jamescrosswell opened #17 "Setting context providers doesn't work"
Since a picture is worth a thousand words:

![image](https://f.cloud.github.com/assets/728212/2159210/7beddb82-94a0-11e3-863a-6895e7141b12.png)

I believe I'm doing this [by the book](https://segment.io/libraries/.net#selecting-providers), so pretty sure it's not a problem with my code...

The result is that these events (which are only supposed to go to Google Analytics) are ending up in the dash

[2014-02-26 01:02] ianstormtaylor opened #19 "Ongoing changes for API v2"
https://github.com/segmentio/spec
- [ ] Use HTTP Basic Auth with the project's **Write Key**.
- [ ] Rename to `anonymousId` from `sessionId` for clarity.
- [ ] Separate `integrations` (was `providers`) object from `context`, for cleaner logs.
- [ ] Add `requestId` for easily tracing calls through to the raw logs.
- [ ] Change `library` to be a object with `name` and `version` for consistency.

[2014-05-29 09:43] Yrlec opened #22 "Making flushing thread a background thread."
Hi,
My company is using your library in a console that we run as a nightly job. Today I noticed that the background job no longer shuts down properly. After running NewRelic's thread profiler in production I noticed that thread that was still running:

System.Threading.ThreadHelper:ThreadStart
System.Threading.ExecutionContext:Run
System.Threading.ExecutionContext:Run
System.Threading.ExecutionCon

[2014-06-18 23:52] #19 closed, assigned to nobody

[2014-06-18 23:52] #17 closed, assigned to nobody

[2014-06-18 23:52] #15 closed, assigned to nobody

[2014-06-18 23:53] #14 closed, assigned to nobody

[2014-06-18 23:53] #12 closed, assigned to nobody

[2014-06-18 23:54] #9 closed, assigned to nobody

[2014-06-18 23:54] #8 closed, assigned to ivolo

[2015-02-11 21:21] #22 closed

[2015-08-26 21:30] jdconley opened #25 "Identify call without userId?"
We use some integrations that take advantage of identify calls without user id's (Drip, Salesforce). These work fine in Analytics.js, but this .NET client throws an InvalidOperationException if you attempt to call Identify without the userId parameter. Is there some way to mimic the behavior in Analytics.JS so we can call this before we have a User Id in our system?

[2015-08-26 21:32] f2prateek commented on #25
This is on master https://github.com/segmentio/Analytics.NET/commit/7a0c4741b0900d0ce670df40103d7f6967c89113

[2015-08-26 21:33] jdconley commented on #25
So there needs to be an options.anonymousId. How do we grab that from the browser?

[2015-08-26 21:35] jdconley commented on #25
Nvm, found it. https://segment.com/docs/libraries/analytics.js/#anonymous-id

[2015-08-26 22:29] jdconley commented on #25
Looks like this option is available for every call _except_ Identify: https://github.com/segmentio/Analytics.NET/blob/master/Analytics/Client.cs#L130

[2015-08-26 23:40] jdconley commented on #25
Created pull #26 for this

[2015-08-26 23:58] jdconley commented on #25
Any chance you can version and push a nuget release for this soon? Much easier to deal with deps that way.

[2015-09-01 23:58] hankim813 opened #28 "Mismatched Dependency"
Ticket Ref:

https://segment.zendesk.com/agent/tickets/33879

[code]

[2015-09-07 09:41] b-dur opened #29 "Timestamp is parsed wrongly if set"
We experienced some events created on Thursday Sep. 3'rd that they where timestamped as March 9'th.

The error is due to bad formatted datetime sent by BaseAction.cs

If Timestamp is set it will send the data as Timestamp.ToString() instead of .ToString("o") as when it has not been set.

[code]
https://github.com/segmentio/Analytics.NET/blob/master/Analytics/Model/BaseAction.cs#L39

[2015-09-07 11:56] b-dur commented on #29
Maybe the `DateTime.Now.ToString("o");` actually should be `DateTime.UtcNow.ToString("o");` as well.

[2015-09-18 06:22] #29 closed

[2015-10-01 04:42] f2prateek commented on #25
Released with 2.0.2

[2015-10-01 04:42] #25 closed

[2016-01-04 18:20] ladanazita opened #31 "Incompatible with the Universal Windows Platform"
Developing a Windows 10 Phone App, using the Universal Windows Platform and installing with NuGet results in this error:

"Install-Package : Analytics 2.0.2 is not compatible with UAP,Version=v10.0."

[2016-01-12 23:53] mjracca commented on #31
I aslo want use Segment in a Windows 10 application, and have the same issue.

[2016-01-13 00:27] mjracca commented on #31
I just successfully added https://segment.com/docs/libraries/xamarin/ to my UAP app. Should we use Xamarin library instead of this one?

[2016-01-13 01:05] f2prateek commented on #31
yes, this library is not meant for xamarin's universal app platform.

[2016-01-13 01:05] #31 closed

[2016-01-13 13:36] mjracca commented on #31
We were talking about Windows 10 Universal Apps, not Xamarin apps
On Tue, Jan 12, 2016 at 22:05 Prateek Srivastava <notifications@github.com>
wrote:

[2016-01-14 09:37] kristinnv12 commented on #31
@f2prateek I am not developing a Xamarin app, but a Windows 10 Universal App. Wich library should I use?

[2016-01-15 12:15] jbfp commented on #28
Any news on this?

[2016-05-31 13:38] jzebedee commented on #28
I've had this same issue. I believe it's because a fully qualified assembly name isn't included in the Segment reference, so it will introduce issues if you add Segment to a project that also uses JSON.NET with a different version.

I've created PR #34 to qualify the version. Are you able to test the change in that PR and see if this resolves your issue?

[2016-05-31 13:48] jzebedee opened #36 "Can't use non-Segment types for parameters"
Currently, consumers of this library have to either use or extend the `Dict`/`Properties`/`Traits` classes in order to call Segment client methods. This adds unnecessary complexity and an explicit dependency on Segment, not to mention [violating the **I** in SOL**I**D](https://en.wikipedia.org/wiki/Interface_segregation_principle). :stuck_out_tongue:

I'd like to see this changed to only require t

[2016-11-02 11:52] Dmitry-Me opened #39 "Inconsistent capitalization for "anonymousId" in error message"
class `Client` has a number of public methods and they all verify `userId`. Most of them use this line to signal the userId is invalid:

      throw new InvalidOperationException("Please supply a valid userId or anonymousId to SOMETHING.");

here `anonymousId` is spelled in camelCase. But `Group()` uses this string:

      throw new InvalidOperationException("Please supply a valid userId or anonym

[2016-11-02 12:00] Dmitry-Me opened #40 "Inconsistent phrasing in error messages for public methods of class Client"
class `Client` has a number of methods which accept `userId` and a second parameter which varies from one method to another. Validation code uses line like this to throw:

     throw new InvalidOperationException("Please supply a valid userId or anonymousId to SOMETHING.");

and

     throw new InvalidOperationException("Please supply a valid PARAMNAME to SOMETHING");

Although only method names s

[2016-11-02 15:26] Dmitry-Me opened #41 "Statistics signed integers blindly incremented"
Here's the definition of `Statistics`:

    public class Statistics
    {
        public int Submitted { get; set; }
        public int Succeeded { get; set; }
        public int Failed { get; set; }
    }

All members are signed. The typical line of code dealing with them looks like this:

    _client.Statistics.Failed += 1;

If code runs long enough then counters may reach `Int32.MaxValue`. Depe

[2016-11-16 17:04] leankitryan opened #42 "Tracking events that occur when no network connection is available are discarded"
In testing Segment Analytics on mobile devices under Xamarin, I've noticed any events that occur while the device is offline are discarded. It appears the event queue is being flushed even if the events fail to send to segment.io.

[code]

In a server environment this might not be a big deal but on mobile devices which frequently lose connection it seems a more robust queuing strategy is needed.

[2016-11-16 18:22] f2prateek commented on #42
Was this meant for Analytics.Xamarin https://github.com/segmentio/Analytics.Xamarin? This library is currently not designed to be used in mobile environments.

[2016-11-16 18:22] f2prateek commented on #40
Seems reasonable, happy to accept a PR to standardize it!

[2016-11-16 18:25] f2prateek commented on #41
In practice this hasn't been a problem. A 32 bit signed int can count upto 2 billion events. But wouldn't be unreasonable to bump it to unsigned.

[2016-11-17 08:19] Dmitry-Me commented on #41
@f2prateek Changing it to unsigned is not enough, the increment should be done in unchecked context, otherwise there's an exception when it tries to increment past four billions.

[2016-11-17 12:33] f2prateek commented on #41
Yup - but again as I said, this hasn't been a problem in practice. Happy to accept a PR though!

[2016-12-09 11:05] Dmitry-Me commented on #40
@f2prateek It looks like you don't accept PRs often https://github.com/segmentio/Analytics.NET/pull/35

[2016-12-09 20:28] f2prateek commented on #40
@Dmitry-Me sorry that slipped under the radar, thanks for bringing it up!

[2016-12-09 20:31] f2prateek commented on #36
I believie was originaly written to add support for type safe setters.

For instance on traits, we would have had a method `setName(String)` and `setAge(int)` (like https://github.com/segmentio/analytics-android/blob/master/analytics/src/main/java/com/segment/analytics/Traits.java#L224-L227). We never got around to it so that's wy the utility isn't as obvious in this library.

[2016-12-20 22:19] #41 closed

[2016-12-20 22:19] #39 closed

[2016-12-20 22:36] kkolstad commented on #28
Having the same issue, please fix

[2016-12-20 22:54] f2prateek commented on #28
@kkolstad @jzebedee has sent a PR https://github.com/segmentio/Analytics.NET/pull/34, can you verify that it resolves your issue?

[2016-12-20 22:54] f2prateek commented on #40
Closed by #43

[2016-12-20 22:54] #40 closed

[2016-12-20 23:27] kkolstad commented on #28
@f2prateek just checked, it does indeed

[2016-12-22 00:39] kkolstad commented on #28
@f2prateek will there be a new NuGet release to include this fix?

[2016-12-23 05:37] jzebedee opened #46 "Segment now breaks on reference in CLS-compliant .NET platforms"
@f2prateek @Dmitry-Me I think there are some problems with PR #41. Adding the `unchecked` blocks is unnecessary, but harmless, since the default behavior is to silently overflow:

- from the [C# specification on `checked`](https://msdn.microsoft.com/en-us/library/aa691349(v=vs.71).aspx)

**However, changing the properties from `int` to `uint` will break [CLS compliance](http://stackoverflow.com/a/

[2016-12-23 07:41] f2prateek commented on #36
Closed by #47

[2016-12-23 07:41] #36 closed

[2016-12-23 09:39] Dmitry-Me commented on #46
@f2prateek I guess this is sensible approach yet this will look rather overengineered. Do you want another PR.

[2016-12-24 22:07] f2prateek commented on #46
That'd definitely be great, thanks! I do agree the solution won't look pretty - definitely open to other  ideas as well.

[2016-12-26 14:59] Dmitry-Me commented on #46
@f2prateek @jzebedee  Submitted https://github.com/segmentio/Analytics.NET/pull/48

[2016-12-26 21:14] #46 closed

[2017-01-03 00:25] f2prateek commented on #28
Realeased in 2.0.3

[2017-01-03 00:25] #28 closed

[2017-01-03 00:25] f2prateek commented on #28
https://www.nuget.org/packages/Analytics/2.0.3

[2017-01-17 14:09] leankitryan commented on #42
it was, sorry.

[2017-01-17 14:09] #42 closed

[2017-04-13 23:29] rmariotti-choicelunch opened #49 "Support through a proxy?"
I'm trying to see how I could update my .NET server-to-server code to send the Segment Identify and Track requests through a proxy.

We're moving to a more secure environment that requires outbound calls from the API server to pass through a proxy.  Thank you for the info; we love Segment!

Ryan

[2017-04-13 23:39] f2prateek commented on #49
We'd have to make the Host public https://github.com/segmentio/Analytics.NET/blob/86327620f408f4d67ba57a7ecf153552330ac858/Analytics/Config.cs#L17.

[2017-04-14 17:16] rmariotti-choicelunch commented on #49
@f2prateek - I see that Host is just a string.  Would additional properties be needed to be able to set Proxy as an object on some HttpWebRequest?

How would such an enhancement be approved and built into Analytics.NET?  Thanks for the info!
Ryan

[2017-04-14 17:52] f2prateek commented on #49
Nope, just making it public should work. Internally, the library uses that to figure out the full URL to send data to: https://github.com/segmentio/Analytics.NET/blob/76bdd0dba41b4763427ecebc276cc289f7ca1140/Analytics/Request/BlockingRequestHandler.cs#L51.

So if you set host to `mydomain.com`, we'll send data to `mydomain.com/v1/import`.

[2017-04-14 17:52] f2prateek commented on #49
And yes, we'll be open to accepting this change :D

[2017-04-14 22:24] rmariotti-choicelunch commented on #49
I'm still not 100% on how this accomplishes a Proxy though, @f2prateek.  I thought you needed TWO URLs:

1) URL of the target destination (e.g. Segment's API server)
2) URL of the proxy that the request has to go through

With only `Host`, I guess I would have to set it to `myproxy.com`, resulting in `myproxy.com/v1/import` and the proxy would have to be smart enough to forward that request, based

[2017-04-14 22:34] f2prateek commented on #49
Correct, I was going off the assumption that this proxy is dedicated to Segment and uses something like  https://github.com/segmentio/segment-proxy.

In this case, your client only cares about sending the data to your proxy (i.e. #2), your proxy is responsible for choosing where to forward it next (i.e. #1).  The client doesn't tell it where to forward to next, the proxy is configured independentl

[2017-06-09 12:36] Lapinou42 opened #50 "Support .NETStandard,Version=v1.4"
Hello,

It would be greate to support .NETStandard,Version=v1.4 :)

Thank you,
Lapinou.

[2017-06-16 09:13] spewu commented on #50
I made a pull request for targeting netstandard 1.3: https://github.com/segmentio/Analytics.NET/pull/51

[2017-06-16 12:24] Lapinou42 commented on #50
@spewu Thank you ! 👍

[2017-08-08 16:10] bryanrengo opened #52 "3.0.0 nuget package still targeting .Net 3.5 framework"
Hey, thanks for posting a new version on nuget!

I have been trying to use this package for a netcore1.0 library and the only way I currently can do it is to clone this repo and pull the Analytics project directly into my solution. For build to production sake, I'd like to pull in the nuget package instead.

When I try to reference the 3.0.0 nuget package, it throws this error:

[code]
It appears

[2017-08-09 04:07] f2prateek commented on #52
@bryanrengo gotcha, thanks for letting us know. I'm not totally familiar with what it would take to get nuget  + netcore to work. I'd have to look into this a bit more.

If you happen to know the changes required, we'd be happy to accept a PR!

@spewu helped us out with the netstandard support, and might have some pointers as well.

[2017-08-09 07:31] spewu commented on #52
@f2prateek I am not sure how you currently build the NuGet packages, but I would suggest you just use the dotnet CLI. It has a `pack` command for creating a NuGet package: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-pack

If you are currently building the NuGet packages manually, you could also consider creating an account on e.g. https://www.appveyor.com - it is free for open source

[2017-08-09 08:19] f2prateek commented on #52
Ah neat, we are using appveyor for the C++ library, that might be a good option here too. RIght now the process is pretty manual https://github.com/segmentio/Analytics.NET/blob/master/RELEASING.md.

Either way though, for @bryanrengo's case, it sounds like we'd need to update the https://github.com/segmentio/Analytics.NET/blob/master/Analytics.nuspec to allow for newer frameworks to be targetted.

[2017-08-09 12:13] spewu commented on #52
@f2prateek As far as I know, the nuspec file is not needed anymore actually ... maybe I should have deleted it in my pull request :)

[2017-08-17 17:51] f2prateek commented on #52
@spewu we'd still need the nuspec file to upload to nuget I think, no?

[2017-10-09 20:42] f2prateek commented on #52
This should be fixed as of 3.1.0-alpha. Please try it out, and let me know if you run into any issues!

[2017-10-09 20:42] #52 closed

[2017-10-09 20:43] f2prateek commented on #50
This should be done as of 3.1.0-alpha.

[2017-10-09 20:43] #50 closed

[2017-11-21 06:59] f2prateek commented on #49
Closed by https://github.com/segmentio/Analytics.NET/pull/64

[2017-11-21 06:59] #49 closed

[2018-01-29 18:44] etiennemtl opened #77 "Impossible to specify destination specific option"
Hi,

The client library is very well made, but it's currently impossible to add destinations specific option.
In my particular case, I want to be able to add or remove a Tag when using the Identify call and [Vero destination](https://segment.com/docs/destinations/vero/#tags). In the documentation it says to pass an object called `tags` in the Vero integration object for example:

[code]

But the .

[2018-01-29 19:21] f2prateek commented on #77
hey @etiennemtl you're right. This is an oversight, we'll fix this. I don't have an ETA, but please keep an eye on this issue for updates. We're tracking this internally as well (https://segment.atlassian.net/browse/LIB-212).

[2018-03-19 20:13] f2prateek commented on #77
Closed by #80

[2018-03-19 20:13] #77 closed

[2018-05-16 15:46] cfletcher opened #82 "Publish non-alpha Package"
Is it possible to publish a non-alpha version of the Nuget package? We're getting build warnings because were dependant on an alpha version of your package. Unfortunately 3.0 (the last non alpha version) is not suitable for us because we need the newer .net standard support.
If it helps we've been using the package along with over 12,000 other people without issue: https://www.nuget.org/packages/A

[2018-05-16 17:06] f2prateek commented on #82
(sorry accidentally hit the close button)

We haven't released 3.3.0 yet because it hasn't seen significant usage (only 55 downloads) so far. It has significant changes from the previous alpha version that we want to give it some more time to be teated.

[2018-05-16 19:35] cfletcher commented on #82
We were specifically using the .net standard support, as we're working on .net core 2.0

[2018-05-16 20:46] f2prateek commented on #82
Gotcha - there are some fixes related to that in the 3.3.0-alpha (https://github.com/segmentio/Analytics.NET/pull/76), so I'd recommend to keep using the alpha for now and keep an eye for updates. Once we see more adoption for the alpha version in general, we'll promote it to a stable release.

[2018-07-05 09:38] michaeljfarr opened #87 "Publish non-alpha Package v2"
Its been a couple of months-ish since clfetchers original question so I thought I'd ask again.  Those of us that really need .net standard support would really like to see a non-alpha library for Segment up on Nuget, is this something you could see happening in the near future?

I can see some quite sensible PRs from daletskyi that are waiting for approval still.  Perhaps we could at least have a

[2018-07-05 09:50] mig42 opened #88 "Segment stops responding"
Hi,

We have an ASP.NET Core server running on Azure with analytics.NET 3.3.0-alpha, and it's configured to send user events to Segment using Analytics.Client.Track(). It's initialized using this line:
[code]

After a while (around 1h or so) segment stops confirming the reception of the tracked events. There are no new entries in the debug panel, meaning they don't arrive to Segment. It all starts

[2018-07-09 09:06] daletskyi commented on #88
Hi @mig42 We faced exactly the same issue and #83 fixed it. Also #84 fixed error logging, so you can see failed requests in logs. However you need to wait until new nuget is released or build custom dll from master.

[2018-07-09 09:53] mig42 commented on #88
Hi @daletskyi, thanks a lot! We'll consider building our own dll, in the meantime I'd like to keep the thread open in case someone from the Segment dev team can confirm the bug in their library, unless it's too obvious!

Thank you!!

[2018-07-09 17:53] f2prateek commented on #88
we plan on releasing the fix in #83 soon

[2018-07-09 21:53] f2prateek commented on #88
i’ve released 3.3.1-alpha with the PR in question so please try it out!

[2018-07-10 10:37] mig42 commented on #88
Thanks @f2prateek ! We'll upgrade ASAP and I'll update this thread with the results.

[2018-07-11 16:58] f2prateek commented on #88
Thanks - please let us know once you've had a chance to try out the fix.

[2018-08-08 19:38] PangbornIdentity commented on #88
Hello, we are using 3.3.1-alpha now in production, and with .net (not core), we find that we are no longer having issues with events stopping posting to segment.  However, we are having an issue now where our cpu usage steadily climbs to dangerours level throught the day.  Is it possible there is a GC issue with timers? or not using a static httpclient ?

[2018-08-16 14:40] PangbornIdentity commented on #88
This was resolved by moving our service to a singleton scope to match that of the static analytics client

[2018-08-16 16:54] f2prateek commented on #88
I see - so were you previously creating multiple new instances of the Analytics client?

[2018-08-16 16:56] f2prateek commented on #87
If you need .NET standard support, I would recommend using the alpha versions. We generally don't promote versions until we see a significant amount of traffic going through those versions. We have a much higher bar for this release especially because of the scope of the changes that are included.

[2018-08-16 16:56] #87 closed

[2018-08-16 16:56] f2prateek commented on #88
(I'm going to close this issue as the original problem was solved by #83)

[2018-08-16 16:56] #88 closed

[2018-11-28 22:51] sandarsh-sridhar-cliq opened #98 "Writekey displayed in Segment data object"
When using 'track' or 'identify', write key is also displayed in the segment event data.
Is there a specific reason for this?
I understand that write key is required to make an authentication token while posting to Segment API endpoint. But it only needs to be in the http-client headers. Or is there something I am missing here?

[2018-11-29 00:18] f2prateek commented on #98
hey @sandarsh-sridhar-cliq the library sends the data as an authorization header (https://github.com/segmentio/Analytics.NET/blob/8d0b148bb4ff7c5741744de3b7f155ca84cddbd8/Analytics/Request/BlockingRequestHandler.cs#L138). I believe it's the API and debugger that maybe show this in the body - I might suggest you write in via our support form so our support team can get the right team to answer this

[2018-11-29 00:29] sandarsh-sridhar-cliq commented on #98
Thank you for responding to the issue this quickly. I had gone through that snippet of code. It absolutely makes sense to have the write key in a strongly typed class. But that property can be ignored during serialization with JsonIgnore property from Newtonsoft.json, so that it doesn't make it to the event data itself.

[2018-11-29 16:52] f2prateek commented on #98
Ah... I see what you mean. It's because we convert the `batch` object to JSON directly here https://github.com/segmentio/Analytics.NET/blob/8d0b148bb4ff7c5741744de3b7f155ca84cddbd8/Analytics/Request/BlockingRequestHandler.cs#L133, causing the writeKey to be sent.

[2018-11-29 18:40] sandarsh-sridhar-cliq commented on #98
That's correct. So, when you annotate the WriteKey property with JsonIgnore, it wouldn't make it to the payload but you will still be able to make the POST request.

[2018-11-29 19:41] sandarsh-sridhar-cliq commented on #98
Thank you. I appreciate it. :)

[2018-11-30 15:43] sandarsh-sridhar-cliq commented on #98
Hmm...That's interesting. Well, thank you for trying though. Yeah, I shall open a support issue.
Thanks again.

[2018-12-26 11:37] Lobosque opened #99 ".NET Core / .NET Stard support"
It looks like the versions that support .NET Core have been in alpha for more than a year.
Is there any plan to release them as stable versions?

[2018-12-26 22:33] f2prateek commented on #99
We'll promote the release as stable once we're confident in the stability. Since the release includes lots of changes, we want to be careful with this one. I'd recommend trying out the alpha and reporting bugs/feedback with it.

[2018-12-26 22:33] #99 closed

[2019-04-25 16:16] NatElkins opened #102 "Why have new versions of Analytics.NET been in alpha for two years?"
See here: https://www.nuget.org/packages/Analytics/

Look at version history.

For people using .NET Core (pretty much all new greenfield development) they're going to get warnings like this:
[code]

It's been two years, might as well take the alpha off.

[2019-05-26 20:04] ckuehl commented on #102
Any updates on this? It's not super confidence-inspiring for someone integrating for the first time to see this little activity over the last couple of years.

I'm currently deciding whether to just hit the Segment HTTP API directly with one of the well-known .Net Core libraries or to test one of the alpha versions of this library.

[2019-06-10 06:27] guylando commented on #102
+1

[2020-04-17 01:53] worldspawn commented on #102
@cgalan-applaudostudios your customers would a library that is
a) less than 2 years old
b) not an alpha

[2020-04-17 21:00] lubird commented on #102
As you can see from recent commits, we are still actively supporting this library with bug fixes and feature additions. There is a queue of changes we are planning to integrate into a new Nuget package soon.

We do have long term plans to address the .NET Core issues you mentioned, but I don't have timelines right now to speak of.

[2020-06-04 15:02] mabead opened #138 "Dropped message because queue is too full"
After many years of using Segment, I just realized that we sometimes call the "Identify" or "Track" method and events are lost because of this code (note that we are using version 3.3.1-alpha):

![image](https://user-images.githubusercontent.com/4930754/83772881-dedfeb80-a651-11ea-9640-d49e5f814ac7.png)

So no exceptions are raised. There is only a warning being triggered. Pretty annoying.  For me

[2020-06-04 15:32] mabead commented on #138
I see that version 3.4.1-alpha changed this behavior:

![image](https://user-images.githubusercontent.com/4930754/83776635-67608b00-a656-11ea-9f01-3433e65e3df3.png)

So this looks interesting but 3.4.1:
* is alpha
* has only 84 downloads

So my questions are:
* is 3.4.1-alpha ready to be used in production?
* do you intend to release non-alpha versions? The last non-alpha version was made in 2017,

[2020-06-05 10:33] mabead commented on #138
Since you offer no alternatives and no woraround, I will unfortunately have to do so.

That being said, I must say that the outcome is pretty dissaponting:

* you don't try to reproduce the issue
* you give me no confidence that this issue is resolved in the new code. A link with a PR that explains that the issue was solved would have been appreciated.
* you give me no confidence that the 3.4.0-al

[2020-06-05 10:40] mabead opened #139 "3.4.1-alpha tag not found"
On nuget.org, I see that the latest version of the library is 3.4.1-alpha. Unfortunately, there is no tag in github for this version. It is therefore impossible to look at the code at this exact version:

[code]

[2020-06-05 10:49] mabead opened #140 "Inverted logic for "send""
I mus admit that having `send=false` that means "don't don't send the data to segment = send the data to segment" is pretty confusing.

Please make it simple to understand `send=false` should mean "do not send". The default parameter should therefore by `send=true`.

![image](https://user-images.githubusercontent.com/4930754/83868332-b0691b80-a6f8-11ea-9919-75aa086d4815.png)

[2020-06-05 18:56] mabead commented on #138
I confirm that 3.4.0-alpha still drops messages. I don't have the log `Dropped message because queue is too full` anymore. The messages are just lost silently.

I did a burst of 4402 track + 4402 identify calls and only 360 of the `track` events made their way to amplitude.

I suggest that you look at the `BlockingCollection` class: https://docs.microsoft.com/en-us/dotnet/standard/collections/thre

[2020-06-08 11:00] mabead commented on #138
As a workaround, I tried to use the Segment library in synchronous mode:

[code]

My code that sends burst of analytics is part of a nightly job that wants to send more than 5000x identify and 5000 x track events. So, now that I am in synchronous mode, it takes a very long time to send these 10000 messages to the Segment server. Furthermore, my code runs in an AWS lambda which is limited to 15 min

[2020-06-08 14:06] mabead commented on #138
I now have a successfull work around. Basically, the algorithm is the following:

[code]

I created a burst of 1114 track + 1114 identify. With this workaround in place, 1113 identify made their way to Segment. So it's not perfect, but it's much better than before.

[2020-07-03 16:38] pascalmartin commented on #139
Maybe is now a branche and not a tag
[https://github.com/segmentio/Analytics.NET/tree/releases/3.4.1-alpha](https://github.com/segmentio/Analytics.NET/tree/releases/3.4.1-alpha)

[2020-07-17 05:11] lubird commented on #140
You're correct! It does seem like it was inverted halfway through. Do you mind submitting a PR for this fix?

[2020-07-17 05:18] lubird commented on #138
Thanks for continuing to follow up on this thread @mabead. We appreciate you reporting this issue as well as sharing your work-arounds.

I've noted the issue on our backend. We'll for sure take a look at this when we can.

In the meantime, I encourage you to submit a PR for this issue if you feel like you have a workable fix you can share with the community!

[2020-07-17 16:48] mabead commented on #140
Sorry @lubird but since Segment is a product that we pay for, I am not very keen on submitting PRs.

[2020-07-17 16:49] mabead commented on #138
Sorry @lubird but since Segment is a product that we pay for, I am not very keen on submitting PRs. Furthermore, the fix is most likely not trivial and would require more than a few hours.

[2020-07-17 16:58] lubird commented on #139
This was a miss on our end. Our latest release 3.4.2-beta has a proper tag now.

[2020-07-17 16:58] #139 closed

[2020-07-29 00:57] cgalan-applaudostudios commented on #138
@mabead
I tried to replicate your scenario but I wasn't able, could you share your environment (framework version, OS, etc)?  I have attached the results. I hope it could help you.
[Segmen_ MaxQueueSize test.docx](https://github.com/segmentio/Analytics.NET/files/4991872/Segmen_.MaxQueueSize.test.1.docx)

[2020-08-27 20:28] mabead commented on #138
I wrote this little utility to try to replicate the issue: https://github.com/mabead/Analytics.NET.Repro_issue_138

Here's what I get:

| Analytics.NET Version | nb of events sent | nb of events seen in amplitude | nb of events lost |
|-----------------------|----------:|-------------------------------:|------------------:|
| 3.4.2-beta | 12000 | 12000 | 0 |
| 3.4.1-alpha | 12000 | 12000 | 0 |
| 3

[2020-08-27 20:28] #138 closed

[2020-09-23 07:57] OlegKravets opened #148 "Assembly not signed"
Why is the assembly (Analytics.dll) not signed?

[2020-10-01 01:37] BerkanYildiz commented on #22
Bump, it's still a problem to this day

[2020-11-19 00:08] rgwood commented on #102
Has anyone found a decent 3rd party .NET Segment library? Given that this library hasn't received a non-beta release in over 3 years, I'm looking to move away from it.

[2020-11-19 19:10] nd4p90x commented on #102
We are moving to create a non-beta as we speak.  We are also working toward DI and working other open issues.  Please be patient with us as we make this transition as we want to get it right.  The current beta release, as stated above, is still actively supported and will continue to be, up to the next major release.  Thank you.

[2020-11-20 20:02] lubird opened #149 "Xamarin support"
What's the current state of this library with respect to Xamarin support? Can we test it to see what can be done to make this work? Or does it already support Xamarin after the last few updates?

[2020-12-03 17:55] nd4p90x commented on #149
Xamarin is compatible from the first alpha version onwards. Tested with a xamarin app for android

[2020-12-08 21:36] #140 closed

[2020-12-08 21:45] nd4p90x commented on #98
Confirmed that the writeKey is not being displayed in the current version, Thank you.

[2020-12-08 21:45] #98 closed

[2020-12-09 17:20] #149 closed

[2020-12-14 22:49] nd4p90x commented on #102
On Wed 12/09/2020 we release out of Beta.  Sorry for the delay.  #152

[2020-12-14 22:49] #102 closed

[2020-12-30 14:36] jnyrup opened #153 "Updating nuget metadata"
Two suggestion for improving the nuget metadata in `Analytics.csproj`.

Replace `PackageLicenseFile` with `<PackageLicenseExpression>MIT</PackageLicenseExpression>`
This makes it more visible that the packages is released under the MIT license.

Add
[code]
This adds a link from nuget.org directly to the github repository.

https://www.nuget.org/packages/Analytics/3.5.0
![image](https://user-images

[2021-01-06 16:47] juliette-ruchel opened #154 "Catch PostAsync Network exceptions and Retry"
The pull request #96 proposes a change to account for Network related exceptions when attempting to send the batches. The current code does not account for the exceptions thrown by the PostAsync method and could result on some batches not being sent in those cases. The pull request proposes a retry if failed approach in order to solve the issue.

.NET documentation on PostAsync : https://docs.micr

[2021-02-01 17:06] mabead opened #156 "Events lost before reaching the segment servers"
When using `Analytics.NET` version 3.4.2-beta, I found out thta a few analytics events per hour are not successfully sent to the segment servers. To troubleshoot this, I configured the `Segment.Client.Failed` callback:

[code]

With this in-place, I now see this error log pop-up a few times per hour. Here's what the error looks like this (`The response ended prematurely`):

[code]

From what I can

[2021-02-03 18:42] nd4p90x opened #157 "Add Test Suite for Xamarin library support"

[2021-02-11 20:00] #153 closed

[2021-02-11 20:00] #154 closed

[2021-02-11 20:01] #156 closed

[2021-02-26 12:04] Lobosque opened #160 "Retroactive events"
How do I track events retroactively?

eg. I want to send now an event that happened last week

[2021-02-26 13:55] juliette-ruchel commented on #157
Made a test app in Xamarin for both IOS and Android, the Analytics package worked as expected. Since one of it target frameworks is .NET Standard Xamarin Libraries can include it and make use of it. The main project of a Xamarin project which is a common class library can make use of the nuget and this will run in the other projects as well, independently of the platform they target.
Here are some

[2021-02-26 18:49] nd4p90x commented on #157
Thank you for verifying this as an option for the consumer

[2021-03-02 18:07] #157 closed

[2021-03-02 18:58] juliette-ruchel commented on #160
According to documentation: https://segment.com/docs/connections/sources/catalog/libraries/server/net/#historical-import
There is a way of setting the timestamp of events. Tested it this morning with an test app and worked as expected.
However, as the documentation states, even though we send an old timestamp it might depend on the destination on how it's handled.

Here's an example of how they ev

[2021-03-12 11:05] mabead opened #161 "Events not sent to Segment servers: "Unexpected Status Code""
In order to get the fix for https://github.com/segmentio/Analytics.NET/issues/156, I used version 3.6.0 of `Analytics.Net`. Unfortunately, I still get some errors that tell me that messages are lost.

First, here's what my `Failed` callback looks like:

[code]

With this, I got these error logs:
[code]

These errors come from this code:
![image](https://user-images.githubusercontent.com/4930754/11

[2021-03-17 17:24] nd4p90x commented on #160
@juliette-ruchel thank you for that response.
@Lobosque let us know if you have any other questions regarding this issue.
Thanks

[2021-03-17 17:24] #160 closed

[2021-03-24 15:30] juliette-ruchel commented on #148
This video shows the assembly signing and the creation of the key file with a test assembly. Please note that whoever signs the assembly must have administrator permissions or run visual studio as an administrator
https://drive.google.com/file/d/16u6cy6mnCGMSpcQ1qgALO74LNAbcUwDL/view?usp=sharing

[2021-03-26 16:54] #161 closed

[2021-03-29 19:55] mabead opened #163 "Events not sent to Segment servers: "Unexpected Status Code""
In order to get the fix for https://github.com/segmentio/Analytics.NET/issues/156, I used version 3.7.0 of `Analytics.Net`. Unfortunately, I still get some errors that tell me that messages are lost.

First, here's what my `Failed` callback looks like:

[code]

With this, I got these error logs after a few hours:
[code]

Is there anything that I could do to help you troubleshoot this?

[2021-03-30 10:59] mabead commented on #163
I find it weird that we see:
- `number of Attemps = 8`: this implies that `_backo._attempt` = 8
- `Has Backed reached max = true` : this implies that `_currentAttemptTime >= _max` which is the same as `_currentAttemptTime >= 10000`.
I am not sure that I understand the code correctly but it lets me think that you will wait/retry for at most 10 seconds. This may be a little short if you eventually h

[2021-03-30 12:25] mabead commented on #163
In case it can help, I have attached somme logs coming from Analytics.Net before/after the error.

[loggly_grid_2021-03-30 12_20_25.408029.log](https://github.com/segmentio/Analytics.NET/files/6228969/loggly_grid_2021-03-30.12_20_25.408029.log)

[2021-03-30 12:33] mabead commented on #163
The batch that failed to be sent is the one with id `44eb04cb-3947-4c35-b817-ba91f28ac983`. I searched in my logs for this specific ID and I only found this:

![image](https://user-images.githubusercontent.com/4930754/112989102-8c1c7680-9132-11eb-8c03-3abef5651f7b.png)

It therefore looks to me like it was only retried once and not 8 times.

[2021-03-31 12:37] juliette-ruchel commented on #163
@mabead May I ask if you have any custom settings for the configuration of the client or are you just using the default values of the configuration?

[2021-03-31 18:16] mabead commented on #163
@juliette-ruchel Here's how we initialize the segment client:

[code]
We are therefore using the default values.

[2021-04-07 18:45] juliette-ruchel commented on #163
Thanks for the information!
I believe the issue may be related to the response being null thus the status code is returned is 0.
This may mean that we are entering either the `HttpRequestException `o `TaskCancelledException `catch. We are working on adding a few more logs to determine the exact issue.

[2021-04-08 17:26] pooyaj commented on #163
hey @mabead, would you mind doing a quick sanity check of this https://github.com/segmentio/Analytics.NET/pull/164 to confirm it solves this issue?

[2021-04-09 18:04] #163 closed

[2021-04-09 20:34] mabead commented on #163
@pooyaj I could give it a try but I don't see a new version of Analytics.net available on nuget. As soon as you have a new version, I will be able to try it out.

[2021-04-19 14:00] juliette-ruchel opened #166 "Using Segment.NET Library on F# Project"
An example of Segment.NET library being used on an F# project should be developed in order to understand it can be called perfectly well with its different functions

[2021-04-19 19:56] mabead opened #167 "Events not sent to Segment servers: Failed to send analytic event"
In order to get the fix for #163, I used version 3.7.1 of Analytics.Net. Unfortunately, I still get some errors that tell me that messages are lost.

![image](https://user-images.githubusercontent.com/4930754/115295258-8c9fa000-a127-11eb-92ff-6bc41b46b637.png)

I attached about 2000 logs coming from the Analytics.net library. I hope this can help you to isolate the problem.

[loggly_grid_2021-04-1

[2021-04-21 21:40] juliette-ruchel commented on #167
@mabead,

Thanks for the feedback with the log! Looking into it I saw that you got HttpRequestException in two batches (which contain actions) that have a problem when going to be sent to Segment Server:

1. a38c7228-05e5-4ec2-8bb8-ce0aceaeafa1
2. acb93c7d-9c43-46d6-96c4-b02ec3b7d768

First one retries and is sent successful. The problem is the second one (acb93c7d-9c43-46d6-96c4-b02ec3b7d768) whi

[2021-04-21 23:47] mabead commented on #167
Hi @juliette-ruchel . Which value do you suggest that I use for Timeout and MaxRetryTime?

[2021-04-22 02:27] juliette-ruchel commented on #167
Hi @mabead,
I suggest you to try using a Timeout of 10s and a MaxRetryTime of 20s. Probably this will help you sort out your problems for these actions you are trying to send.

Nevertheless, once these changes we are working on, are up in nuget, I suggest you just configure the MaxRetryTime to 20s.

[2021-04-22 16:17] mabead commented on #167
@juliette-ruchel out of curiosity, have you considered using [polly.net](https://github.com/App-vNext/Polly#retry) to implement that whole retry logic? It did simplify my life many many times.

[2021-04-26 14:35] juliette-ruchel commented on #167
@mabead I will check on Polly as I have never used it. If you recommend it for sure I will try it and see if it simplifies the whole retry logic in the library. Did you manage to send all Actions to segment Server?

[2021-04-26 16:42] pmahend1 opened #169 "[Question] is Flush called every 10 seconds by default?"
We are using this nuget in our xamarin app. Wanted to know if we should explicitly call Flush/FlushAsync on user logout.

Looks like its being called with timer every 10 seconds for async mode = True config.

We had Flush but that is blocking UI thread so was about to change it to Asynchronous , but we can omit it if its being called iteratively and has no impact on user logout and new user login

[2021-04-26 17:14] mabead commented on #167
@juliette-ruchel Unfortunately, I was not able yet to try the new settings that you sent over.

[2021-04-29 17:48] juliette-ruchel commented on #166
Here is a link with a demo F# Console App showing how Segment .NET library works perfectly with it:

[(https://drive.google.com/file/d/1K1_NAVn8-NpWZKb6JqasxVUr_9mBG6V-/view)]

[2021-04-29 20:19] juliette-ruchel commented on #169
Hi @pmahend1, in Analytics.NET library Actions are flushed once they reach the MaxQueueSize that is set for the Queue of Actions. This happens only if the library is set to async mode in true, if not it will try to send the action to the segment server inmediatly.

By default the MaxQueueSize is set to 10000 which means that once you add 10000 actions to the queue it will try to send the actions t

[2021-05-01 14:03] anorborg opened #170 "`Defaults` class removed with no way to access values elsewhere"
This PR: https://github.com/segmentio/Analytics.NET/pull/131 removes the Defaults suggesting the values can be known at the moment of configuration. However, several of the `Config` class properties (such as `MaxQueueSize`) are marked internal.

[2021-05-05 17:36] nd4p90x commented on #166
@juliette-ruchel Thank you, the docs are being updated to reflect this addition.

[2021-05-05 17:36] #166 closed

[2021-05-05 17:39] #169 closed

[2021-05-05 19:14] pmahend1 commented on #169
I am sorry I don't understand.
Async = False  = means synchronous mode, events are sent as soon as they are fired

Async=True= means asynchronous
Based on the code I read from your repo(AsyncFlush handler or something) it seems it is called every 10 seconds by default,also there is FlushAt which is defaulted to 20. So I assume Flush operation is carried out every 10 seconds or when queue is 20 whi

[2021-05-05 21:18] juliette-ruchel opened #171 "Create config.yml for circle ci in .net solution"

[2021-05-07 10:18] IainS1986 opened #173 "Question: Is this suitable for Xamarin integration?"
Hi

I'm experimenting with setting up Segment integration with a Xamarin Native project.

I know theres a Segment Xamarin project here (https://github.com/segmentio/Analytics.Xamarin) but this appears to be all but abandoned, isn't in nuget or in the correct .netstandard setup anyway.

Instead I grabbed the nuget for this and have integrated it that way and things 'appear' to be working, but with

[2021-05-07 10:24] IainS1986 commented on #173
As an example if it helps, this is the sort of Raw event I'm generating in Xamarin with this Nuget (and my own context generating)...seems good to me but it would be helpful to know if this is viable (and why maybe GA is not tracking any of my Page or Screen calls)?

Should I change the Source in Segment to not be Xamarin?

{
  "anonymousId": null,
  "context": {
    "app": {
      "build": 0,

[2021-05-12 17:38] #167 closed

[2021-05-14 01:53] juliette-ruchel commented on #171
Circle Ci config file already pulled to master branch

[2021-05-14 01:53] #171 closed

[2021-05-17 19:05] juliette-ruchel opened #174 "Changing fields of Concrete implementations of BaseAction to Properties"
Changing fields of Concrete implementations of BaseAction to Properties will allow users to access information when Success or Failed Event is raised

[2021-05-18 21:00] spencerattick opened #176 "Versioning Question Due to Error"
Hey Team!

I'm working with a customer who is trying to get up and running with the Analytics.NET library. They are hitting an error that looks to be due to versioning. Could you clarify the following to see if it clears up their issue?

1. Are they required to use the same version of the .NET Framework Segment uses?

2. Is it recommended/usual practice to compile their own version of the Segment

[2021-05-20 02:54] juliette-ruchel opened #177 "Support for .NET 5.0 framework"
Adding support and tests for .NET 5.0

[2021-05-26 14:02] juliette-ruchel commented on #176
Hi @spencerattick, I will answer your questions below:

1.  Yes, although Analytics.NET is compatible with .NET standard 1.3 and 2.0 which makes it suitable to use with framework 4.6.x and above versions of .NET framework.
2. No, you should be able to add segment library as a nuget package and should work well with the solution when you add it if it complies with allowed compatible frameworks in t

[2021-05-27 16:47] spencerattick commented on #176
Thanks for much for taking a look @juliette-ruchel! 🎉

[2021-06-02 09:52] mabead commented on #167
@pooyaj When do you plan to issue a new version of analytics.net that will contain the fix?

[2021-06-02 17:14] pooyaj commented on #167
@mabead will push a version by the end of the week at latest.

[2021-06-05 16:55] juliette-ruchel commented on #176
Hi @spencerattick, Have been taking a look at the System.NET.Http.dll problem. It does not seem to be an issue regarding the Segment library.

Looking into the reference problem itself, I found that perhaps your customer is using visual studio 2017 to develop their application. It seems Microsoft had some issues regarding reference problems with this version of Visual Studio and perhaps your custo

[2021-06-09 17:55] nd4p90x commented on #176
@spencerattick Please re-open if there are more concerns regarding this issue.  Thank you.

[2021-06-09 17:55] #176 closed

[2021-06-11 18:00] pooyaj commented on #167
@mabead sorry for the delay. Just published `3.8.0`!

[2021-06-14 02:39] juliette-ruchel commented on #174
PR Already merged to master branch. Closing Issue

[2021-06-14 02:39] #174 closed

[2021-06-23 12:06] juliette-ruchel commented on #173
Hi @IainS1986,

The Analytics.NET library should work fine with your Xamarin project as it is compatible with .NET Standard 1.3 and 2.0. This allows the library to be added to a Xamarin project without any problem. If your application is new then we recommend you to use this library instead of the Analytics.Xamarin one. That library is left only to support applications which already have it integr

[2021-06-23 18:20] nd4p90x commented on #173
@IainS1986 if you need to re-open this issue, please feel free to do so.  Thank you

[2021-06-23 18:20] #173 closed

[2021-06-23 18:22] #177 closed

[2021-06-24 20:12] mabead opened #179 "Events not sent to Segment servers: The operation was canceled."
Following the fix provided in https://github.com/segmentio/Analytics.NET/issues/167, we have much fewer lost messages. But once in a while (once every few days), we get errors like this:

[code]

This message is logged by our delegate that is hooked on `Segment.Client.Failed`.

I think that you may be missing a `catch` on `OperationCanceledException` here https://github.com/segmentio/Analytics.NET

[2021-07-07 13:45] juliette-ruchel commented on #170
Hi @anorborg , we have just added Get functionality to the Config's properties so as you can retrieve current values. We kept the properties internal so as to avoid mistaken configuration to them using equal. Hope you find this functionality helpful.

[2021-07-07 17:40] #170 closed

[2021-07-07 18:46] juliette-ruchel commented on #179
Hi @mabead,

We have looked into your problem, and we have added handling for the OperationCanceledException and Excpetion in general. We decided to keep it in two separated catches so when you have an exception like these is easier to understand possible problems that might be happening in case retrying sending the message fails.

[2021-07-21 17:41] #179 closed

[2021-08-09 13:38] mabead commented on #179
Thanks for the fix @juliette-ruchel. @pooyaj when do you plan to publish a new version of the library?

[2021-08-24 20:40] juliette-ruchel opened #183 "Update e2e CircleCi config due to image problem"

[2021-09-10 13:37] mabead commented on #179
The bug reported here was related to version 3.8.0 of `Analytics.NET`. I see that no new version is yet available. @juliette-ruchel @pooyaj , do you plan on releasing the fix soon?

[2021-10-01 10:31] mabead commented on #179
Hi @juliette-ruchel and @pooyaj . I'm still waiting for that fix to be available in a nuget package. Thanks.

[2021-10-04 23:28] pooyaj commented on #179
Hi @mabead, Looks like #181 was supposed to fix this issue, and it was included in 3.8.0. Are you still seeing the issue? If so we probably have to re-open this, and work on another fix.

[2021-10-05 10:08] mabead commented on #179
@pooyaj my bad. It looks like you're right. With 3.8.0, it looks like the problem is fixed. Thanks for your help and sorry for the wrong information.

[2021-10-05 20:42] imedoc2023 opened #185 "e2e Testing failing in circleci"
e2e testing is failing in CircleCI check on .net core configuration

[2021-10-06 17:35] #185 closed, assigned to nobody

[2022-02-28 20:38] tpiriyakulchai opened #188 "AsyncIntervalFlushHandler deadlock"
Hi,

We are trying to upgrade `Analytics.Net` from version **2.0.3** => **3.8.0** on our .Net Framework web applications. However, we ran into a deadlock after that. I have investigated the issue and found that the cause was the `AsyncIntervalFlushHandler`.

https://github.com/segmentio/Analytics.NET/blob/452a4e060db3ebaf435be198895e022c9efa2b41/Analytics/Flush/AsyncIntervalFlushHandler.cs#L88

We

[2022-03-06 18:25] pickchen-ong opened #189 "Encounter System.ObjectDisposedException after Dispose is called"
Hi,

We have encountered "System.ObjectDisposedException: 'Safe handle has been closed'" after calling Dispose();

It was triggered by the timer callback "PerformFlush" in AsyncIntervalFlushHandler.cs

private void RunInterval()
{
   var initialDelay = _queue.Count == 0 ? _flushIntervalInMillis : 0;
   _timer = new Timer(new TimerCallback(async (b) => await PerformFlush()), new { }, initialDelay,

[2022-03-15 21:29] imedoc2023 commented on #188
Hi @tpiriyakulchai,

Have you tried setting the Async property of the Config element to false? If you want to keep using your code synchronously, try using Segment library like this:

var config =  new Config().SetAsync(false);
Analytics.Initialize("WRITE_KEY", config);

Using it like that, will make Segment library make the request to Segment's as soon as you call an action (Track, Page, Screen,

[2022-03-16 02:54] tpiriyakulchai commented on #188
Hi @imedoc2023,

Thanks for getting back to me!

Yes, we have discovered that option and have considered using it. It would work, however, we were afraid that we would send many more API requests with that option as we wouldn't send the data in batches anymore. (happy to be wrong) If that's the case, do you reckon if that would increase our cost, or if we would hit a rate limit?

[2022-04-13 17:39] #148 closed

[2022-04-13 18:24] nd4p90x commented on #188
@tpiriyakulchai After discussing this issue internally, you should not see any increase in costs if you send requests without a batch process.  Let me know if you have any other questions and I will be happy to address them.

Thank you.

[2022-04-13 18:24] #188 closed

[2022-05-26 13:36] zachdean opened #190 "Expose Message Id as a configurable option"
Message id is set to a new GUID for every event. At times it is desirable to control the value of the message id (to allow correlation to events from a different system, for an example).

[2022-05-26 13:37] zachdean commented on #190
see pr #191

[2022-06-01 17:46] #189 closed

[2022-06-06 14:21] JT-Bruch commented on #189
This is still occurring occasionally for us.

![image](https://user-images.githubusercontent.com/7430562/172179949-b647710a-9469-4d43-9760-f1f6418f8201.png)

[2022-06-29 17:35] #190 closed

[2022-07-06 21:28] algonzalez-wf opened #194 "Snyk.io reports issue with referenced Newtonsoft.Json package"
I ran the Snyk.io analyzer on a project referencing the Analytics (v3.8.0) package and it reports the version of Newtonsoft.Json (v12.0.3) referenced has an "Insecure Defaults [High Severity]" issue. This issue is fixed in v13.0.1 of the Newtonsoft.Json package.

I did notice it was already bumped to v13.0.1 in the Analytics.csproj on 14-Jul-2022 by dependabot.

I was wondering what the process an

[2022-07-10 04:06] PureKrome opened #196 "Allow a mocked Client to be used for the Analytics singleton"
G'day all 👋🏻

Currently, the easy ([and recommended way](https://segment.com/docs/connections/sources/catalog/libraries/server/net/#track)) is to "use the Analytics singleton" in your code. No probs.

But this class is mainly an [accessor to a Client, which is readonly](https://github.com/segmentio/Analytics.NET/blob/fbcfdf50458f201b720b54156d5ef5414e8fae10/Analytics/Analytics.cs#L13):

[code]

Co

[2022-07-11 16:20] fuji27180 opened #197 "Remove dependency on Json.Net"
I saw there is an ancient issue #3, but this was long before the days of System.Text.Json library was introduced, which makes it easier.

This would be a little difficult perhaps to keep backwards compatible with versions for older .NET.

For newer applications that are built using System.Text.Json, it would be nice to not have to depend on Json.Net additionally.

[2022-07-14 18:28] spencerattick commented on #194
Hey folks! Thanks for taking a look at this one. Based on what you've shared, it looks like there is a 3.8.1 version available with the necessary Newtonsoft.Json update. Could you make it available on Nuget as well as updating the docs? 🙏

[2022-07-15 09:14] PureKrome opened #198 "Make it easier to get 'hidden' errors when trying to send data to Segment"
G'day 👋🏻

Recently, I was trying to send data to Segment from my localhost development machine and nothing was getting recorded @ segment. I double checked things like my secret keys, etc.

I finally stumbled onto _this clue_ :

![image](https://user-images.githubusercontent.com/899878/179164896-509154c2-ddb9-4310-8c17-171717a48abf.png)

Which ment "something" was failing/erroring! But .. I couldn

[2022-07-20 18:49] #194 closed

[2022-08-03 01:58] edsonjab commented on #198
Here we have the documentation about how to use logging

https://segment.com/docs/connections/sources/catalog/libraries/server/net/#logging

[2022-08-03 17:51] #198 closed

[2022-08-10 17:43] #196 closed

[2022-08-10 18:08] edsonjab commented on #197
we are analyzing your request but we can't remove that library because that will broke the minor versions that 3.5

[2022-08-11 01:49] PureKrome commented on #197
How about just release a new major version, then? that's why semver exists....

[2022-08-11 18:13] tombogle opened #200 "Calling Analytics.Client.Flush() when there are pending events can cause deadlock"
This problem is illustrated here: https://github.com/sillsdev/DesktopAnalytics.net/pull/27
To reproduce:

1. Build the SampleAppWithForm project
2. Run SampleAppWithForm
3. Click the Track button
4. Without delay, select the Flush checkbox
5. Click the X to close the window.
6.
The call to Analytics.Client.Flush() never returns, and the window never closes.

[2022-08-11 18:23] jasonleenaylor commented on #200
I've also seen this in a project, but didn't have consistent steps to reproduce.

[2022-08-12 15:15] edsonjab commented on #200
Thanks for your report, we start looking into this

[2022-08-22 22:32] edsonjab commented on #200
Hi @tombogle I tried replicate the issue but I don't have success, could you help us sharing your example project on a public repo, please?

[2022-08-24 13:43] tombogle commented on #200
The repo linked above is public.

[2022-08-31 14:28] edsonjab commented on #200
Hi @tombogle we identify on which place is the possible issue, we still working on your issue reported

[2022-09-29 15:34] nd4p90x commented on #197
To provision a new release which removes the Json dependency, would require us to import around 8 extra dependencies which would add extra and more than likely unnecessary weight to the LIB.  The new LIBs that are being worked also require Json.net.  I apologize for any inconvenience this places upon you and your team(s).

[2022-10-11 17:29] edsonjab commented on #200
Hi @tombogle we created a new LIB that you can use for your project, [CSharp](https://github.com/segmentio/Analytics-CSharp) in this library fixed the issue.

[2022-10-14 20:57] #200 closed

[2022-11-11 15:39] squid-box opened #202 "Why is the NuGet package unlisted?"
By chance I stumbled on the NuGet.org page for the [Analytics package](https://www.nuget.org/packages/Analytics), and saw the big sign stating it has been unlisted / has no owners.

![image](https://user-images.githubusercontent.com/864820/201374153-81d441b7-e468-4457-88b4-c8441424240c.png)

Should we discontinue use of this package? What's the recommendation here?

[2022-11-11 16:04] edsonjab commented on #202
Hi @squid-box, we created a new LIB that you can use for your project, [CSharp](https://github.com/segmentio/Analytics-CSharp).

[2022-11-11 16:21] squid-box commented on #202
Hi @edsonjab, thanks for the quick response!

I can't seem to find that library on NuGet, and the project description seems to indicate it is not yet ready for production use?

![image](https://user-images.githubusercontent.com/864820/201384626-289f1819-0643-47e5-9553-6bbcbdce32b3.png)

[2022-11-11 16:27] edsonjab commented on #202
We are looking into it. The library will be available for prod soon.

[2022-11-16 18:52] nd4p90x commented on #202
Looks like everything is back online: https://www.nuget.org/packages/Analytics

Sorry for any inconvenience

Thank you

[2022-11-17 17:22] #202 closed